* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: rgb(47, 48, 58);
}
header {
    width: 80%;
    margin: auto;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
 header nav .lien {
    display: flex;
    flex-direction: row;
 }
 header nav img {
    height: 60px;
    width:60px;
 }

 header nav .right {
    display: flex;
    align-items: center;
 }
 header nav a {
    margin-left: 20px;
 }
main {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .left .btn {
    padding: 15px;
    border-radius: 10px;
    background-color: #C14A4A ;
    width: 50%;
}
main .right img{
    width: auto;
    height: 100%;
}
main .left p{
    margin-top: 40px;
    margin-bottom: 70px;
}
main .left h1{
    font-size: 2rem;
}
main .left {
    margin-bottom: 40px;
}
.soudify {
    position: relative;
}
.soudify::after{
    content: "";
    background-color: crimson;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}