* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: rgb(47, 48, 58);
}
header {
    width: 80%;
    margin: auto;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
 header nav .lien {
    display: flex;
    flex-direction: row;
 }
 header nav img {
    height: 60px;
    width:60px;
 }

 header nav .right {
    display: flex;
    align-items: center;
 }
 header nav a {
    margin-left: 20px;
    font-size: 18px;
 }
main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .left .btn {
    padding: 15px;
    border-radius: 10px;
    background-color: #C14A4A ;
    width: 50%;
}
main .right img{
    width: auto;
    height: 81vh;
}
main .left p{
    margin-top: 40px;
    margin-bottom: 70px;
}
main .left h1{
    font-size: 2rem;
}
main .left {
    margin-bottom: 40px;
}
.soudify {
    position: relative;
    padding: 0 10px
}
.soudify::after{
    content: "";
    background: linear-gradient(to left top,#083CF4, #E70B81);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}
main::after {
    content: "";
    background: linear-gradient(180deg, rgba(8, 60, 244, 0.1) 0%, rgba(231, 11, 129, 0.1) 100%);
    border-radius: 175px;
    position: absolute;
    height: 350px;
    width: 350px;
    right: 0px;
    bottom:0px;
    z-index: 0;
    animation: slide1 5s infinite;
}
main::before {    
    content: "";    
    background: linear-gradient(180deg,  rgba(8, 60, 244, 0.1) 0%,  rgba(231, 11, 129, 0.1) 100%);    
    border-radius: 50px;    
    position: absolute;    
    height: 100px;    
    width: 100px;   
    left: 40px;    
    bottom:80px;
    z-index: 0;
}
@keyframes slide1 {
    from {
        transform: translateY(0%);
      }
    
    to {
        transform: translateY(100%);
      }
    
}