* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: gray;
}
header {
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: red;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
 header nav .lien {
    display: flex;
    flex-direction: row;
 }
 header nav img {
    height: 60px;
    width:60px;
 }

 header nav .right {
    display: flex;
    align-items: center;
 }
 a {
    margin-left: 20px;
 }